extends /base/_layout.base.jade

block main
  h1.c-headline イベント一覧
  div#vm-atnd
    section.m-section.m-section--border
      
      a.c-btn.c-btn-radius.c-btn-submit(href="#", @click="renderAtnd") ATND
            
    section.m-section
      //- h2.c-heading TODOリスト
      ul.m-list
        li.m-list__item(v-for="item in items")
          div.m-item
            p.m-item__title {{ item.event.title }}
