.m-register

.m-register__heading
  margin-bottom 5px
.m-register__form
  display table
.m-register__input
  display table-cell
  vertical-align middle
  padding-right 10px

.m-register__btn
  display table-cell
  vertical-align middle
