doctype html
html
  head
    title vue-sample
    meta(charset="utf-8")
    //inject:css
    //endinject
    link(href="/css/app.css",  rel="stylesheet")
  body
    div.l-wrapper
      block main

    //- inject:js
    //- endinject
    script(src="/js/app.js")
