.c-tabs
  width 100%
  border 1px solid #777
  border-radius 4px
  display table
  table-layout fixed

.c-tab
  text-align center
  display table-cell
  border-right 1px solid #777

  &:last-child
    border none
    
.c-tab__target
  display block
  padding 10px
