doctype html
html
  head
    title vue-sample
    meta(charset="utf-8")
    //inject:css
    //endinject
    style(src="/styles/app.css")
  body
    div.wrapper

    // inject:js
    // endinject
    script(src="/scripts/app.js")
