body,
h1,
h2,
div {
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
}
ol,
ul {
  list-style-type: none;
}
.l-wrapper {
  width: 800px;
  margin: 0 auto;
}
.c-headline {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.c-heading {
  font-size: 16px;
  font-weight: bold;
}
.c-btn {
  padding: 5px 10px;
  display: inline-block;
}
.c-btn-radius {
  border-radius: 5px;
}
.c-btn-submit {
  color: #fff;
  background-color: #f70;
}
.c-btn-delete {
  background-color: #ccc;
}
.c-input {
  padding: 5px;
}
.m-section {
  padding: 20px;
}
.m-section--border {
  border-bottom: 1px solid #000;
}
.m-register,
.m-register__heading {
  margin-bottom: 5px;
}
.m-register__form {
  display: table;
}
.m-register__input {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
.m-register__btn {
  display: table-cell;
  vertical-align: middle;
}
.m-list {
  padding: 20px;
}
.m-list__item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.m-item {
  width: 100%;
  display: table;
}
.m-item__title {
  width: 80%;
  display: table-cell;
  vertical-align: middle;
}
.m-item__btn {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}
